br {
    margin-bottom: 1em;
}

li {
    margin-left: 8px;
    padding: 4px;
}

h1 {
    font-size: large;
}

h2 {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 1em;
}

table, tr, td, th {
    padding: 8px;
    margin: 8px;
    border: solid black 1px;
}

body {
    padding: 10px;
}

nav {
    margin: 5px;
}

nav a {
    text-decoration: none;
}

fieldset {
    display: inline-block;
    border: 2px black groove;
    padding: 5px;
    margin: 5px;
}

code {
    font-family: monospace;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-content {
    flex-grow: 1;
}

.nav {
    padding: 5px;
}

.nav-section {
    color: white;
    background: purple;
    border: solid purple 1px;
    padding: 4px;
    border-radius: 5px;
}

.nav-page {
    background: darkorange;
    border: solid darkorange 1px;
    padding: 4px;
    border-radius: 5px;
}

.ssh-key {
    display: inline-block;
    overflow-wrap: anywhere;
    background: lightgrey;
    font-family: monospace;
    border: solid grey 1px;
    border-radius: 2px;
    padding: 4px;
    margin: 4px;
}

.rounded-box {
    border: solid black 2px;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
}

.info-section {
    background: white;
    margin-bottom: 10px;
}

.status-good {
    background: lightgreen;
}

.status-bad {
    background: lightcoral;
}

#container {
    width: 100%;
    max-width: 100%;
}
